
	<header class="mt-4">
		<h3>Pagina De Contato</h3>
	</header>
	<div>
		<a href="contact/new-contact"><button class="btn btn-primary py-2">Novo Contato</button></a>
	</div>
	<table border="0" class=" table mt-2 text-white">
	    <thead class="">
	        <tr>
	            <th scope="col">ID</th>
	            <th scope="col">NOME</th>
	            <th scope="col">E-MAIL</th>
	            <th scope="col">TELEFONE</th>
	            <th scope="col">SEXO</th>
	            <th scope="col">DATANASC.</th>
	            <th scope="col">EDIÇÃO</th>
	            <th scope="col">EXCLUIR</th>
	        </tr>
	    </thead>
		<tbody>
			{{itens}}
		</<tbody>
	</table>
