<header class="bg-danger text-white py-4 mt-4">
    <h1 class="text-white mx-4">Sistema De Agendamento 1.0</h1>
    <nav class="mx-4 pt-2">
        <a href="/agenda-php/home"><button class="btn btn-light py-2">Home</button></a>
        <a href="/agenda-php/contact"><button class="btn btn-light py-2">Contatos</button></a>
        <a href="/agenda-php/task"><button class="btn btn-light py-2">Tarefas</button></a>
        <a href="/agenda-php/event"><button class="btn btn-light py-2">Eventos</button></a>
    </nav>
</header>
